USE [master]
GO
/****** Object:  Database [biblioteca]    Script Date: 20/03/2025 5:06:25 p. m. ******/
CREATE DATABASE [biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\biblioteca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\biblioteca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [biblioteca]
GO
/****** Object:  Table [dbo].[autores]    Script Date: 20/03/2025 5:06:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autores](
	[autorId] [int] IDENTITY(1,1) NOT NULL,
	[nombreAutor] [varchar](100) NOT NULL,
	[nacionalidadAutor] [varchar](50) NULL,
	[fechaNacimientoAutor] [date] NULL,
	[fechaFallecimientoAutor] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[autorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libros]    Script Date: 20/03/2025 5:06:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libros](
	[libroId] [int] IDENTITY(1,1) NOT NULL,
	[tituloLibro] [varchar](200) NOT NULL,
	[autorId] [int] NULL,
	[generoLibro] [varchar](50) NULL,
	[editorialLibro] [varchar](100) NULL,
	[añoPublicacionLibro] [int] NULL,
	[numeroPaginasLibro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[libroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [FK_libros_autores] FOREIGN KEY([autorId])
REFERENCES [dbo].[autores] ([autorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [FK_libros_autores]
GO
USE [master]
GO
