<!--
    Vista para crear un nuevo autor en la biblioteca (ASP.NET Core Razor View)

    - Modelo: BIBLIOTECA.Models.Autore
    - Título de la vista: "Crear"
    - Estructura:
        1. Encabezado con el título de la página.
        2. Formulario para añadir un nuevo autor con los siguientes campos:
            - Nombre del autor.
            - Nacionalidad.
            - Fecha de nacimiento.
            - Fecha de fallecimiento (opcional).
        3. Botón de acción para:
            - Crear el registro (botón principal).
            - Volver a la lista de autores.
    - Diseño:
        - Contenedor centrado en pantalla con efecto de sombra ("sombra-movimiento").
        - Validación de campos con mensajes de error en color rojo.
        - Sección `Scripts` para manejar validaciones del lado del cliente.
-->
@model BIBLIOTECA.Models.Autore

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear un nuevo registro</h1>

<h4>Añadir un autor nuevo</h4>
<hr />
<div class=" d-flex justify-content-center align-items-center vh-100">
    <div class="form-container sombra-movimiento">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreAutor" class="control-label"></label>
                <input asp-for="NombreAutor" class="form-control" />
                <span asp-validation-for="NombreAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NacionalidadAutor" class="control-label"></label>
                <input asp-for="NacionalidadAutor" class="form-control" />
                <span asp-validation-for="NacionalidadAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoAutor" class="control-label"></label>
                <input asp-for="FechaNacimientoAutor" class="form-control" />
                <span asp-validation-for="FechaNacimientoAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFallecimientoAutor" class="control-label"></label>
                <input asp-for="FechaFallecimientoAutor" class="form-control" />
                <span asp-validation-for="FechaFallecimientoAutor" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-4">
                <input type="submit" value="Crear registro" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-darkblue">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
